:root{
    --grey: #f0eef1;
    --black: #050505;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
}

*{
    margin:0;
    bottom:0;
    padding:0;
}

html{
    min-height: 100%;
}

button{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1vw 1vh;
    border-radius: 12px;
}

button:hover{
    filter: brightness(90%);
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: var(--shadow);
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

h1{
    margin-left: 3vw;
    font-size: 2em;
    font-weight: bold;
}

body{
    background-color: var(--grey);
    font-family: 'Poppins', sans-serif;
}


#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

form{
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 75%;
    height: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    text-align: center;
}

.book{
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 75%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    height: auto;
    text-align: center;
}

.info{
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 3vh;
}

input{
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 2vh;
}

.input{
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    width: 75%;
    border: none;
    border-radius: 12px;
}

.checkbox{
    padding: 1vmin;
    border-style: none;
    border-radius: 8px;
}

#new_book{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.new_book{
    text-align: center;
    margin-top: 3vh;
}

.readbtn, .submit, .remove{
    background-color: var(--light-green);
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    min-width: 80%;
}

.remove{
    background-color: var(--light-red);
    margin-top: 0;
}